html, body{
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
}
input[type="checkbox"]  {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

header#header-fixed {
	background-color:#444;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 35px;
}
#folder {
	position:fixed;
	padding-top: 35px;
	float: left;
}
#mylist {
	padding-left: 150px;
	padding-top: 35px;
	float: left;
}

.menu {
	float: right;
	display: flex;
	margin: 0;
}
.menu svg {
	margin: 3px;
	cursor: pointer;
	height: 28px;
	width: 28px;
	fill: #eaeaea;
	transition: 0.3s;
}
.menu svg:hover {
	fill: #00b0ff;
}

table {
	width: 800px;
	/* border: solid 1px; */
	/* border: solid 1px #000000; border-collapse: collapse; */
	border: 0;
	background: #faffff;
}
button {
	white-space: nowrap;
	cursor: pointer;
}

.title-row {
	height: 45px;
}
.tags-row {
	height: 50px;
}
.comment-row {
	height: 30px;
}
.thumbnail-col {
	vertical-align: top;
}
.thumbnail {
	border: solid 2px #393F3F;
}
.title {
	/* position: relative;
	top: 11px; */
}
.play-here {
	display: none;
	position: absolute;
	left: 800px;
}
.comment-col {
	vertical-align: top;
	border:#C9CFCF solid 2px;
	background: #F9FFFF;
}




ul {
	list-style: none;
}

.handle {
	width: 40px;
	height: 100px;
	float: left;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sortable-chosen {
  color: #fff;
  background-color: #edb54c;
}



#menuButton {
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#menuButton span,
#menuButton::before,
#menuButton::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 22px;
  height: 2px;
	border-radius: 10px;
  margin: auto;
  background: #000;
}
#menuButton span {
  overflow: hidden;
  z-index: 1;
  color: #000;
}
#menuButton::before {
  z-index: 2;
  transform: translate(0, -7px);
  content: "";
}
#menuButton::after {
  z-index: 2;
  transform: translate(0, 7px);
  content: "";
}


#load-layer {
	display: none;
	position: absolute;
	z-index: 50;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 130%;
	background-color: black;
	opacity: 0.20;
}
#loader {
	display: none;
	position: absolute;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	margin: auto;
	z-index: 51;
	width: 30px; /*ローディングアイコンの横サイズ*/
	height: 30px; /*ローディングアイコンの縦サイズ*/
	border-radius: 50%;  /*CSS3で円を書く*/
	border: 8px solid #fff;  /*円に○の白枠をつける*/
	border-right-color: transparent; /*円の右にC状の空きをつける*/
	animation: spin 1s linear infinite; /*1秒毎にくるくる回転するアニメーション*/
}
@keyframes spin {
	0% { transform: rotate(0deg);   opacity: 0.2; } /*0%の時は20％の透明度*/
	50%  { transform: rotate(180deg); opacity: 1.0; } /*50%の時は透明度なし*/
	100%   { transform: rotate(360deg); opacity: 0.2; } /*100%の時に20％の透明度に戻る*/
}