html, body{
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	background: #F4F4F4;
}
.test {
	background: red;
}
/* ######################## 画面構成 ######################## */
header#header-fixed {
	background-color:#444;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 35px;
	z-index: 1000;
}
#content {
	position: relative;
	top: 50px;
	margin: 35px auto 0 auto;
	width: 1150px;
	display: flex;
}
#folder {
	width: 25%;
	margin-right: 10px;
	min-height: 500px;
	height: fit-content;
	background: #c3e7ff;
}
#mylist {
	width: 75%;
}
/* ######################## 画面構成 ######################## */



/* ######################## ヘッダー ######################## */
.menu {
	float: right;
	list-style: none;
	display: flex;
	margin: 0;
}
.menu svg {
	margin: 3px;
	cursor: pointer;
	height: 28px;
	width: 28px;
	fill: #eaeaea;
	transition: 0.3s;
}
.menu svg:hover {
	fill: #00b0ff;
}
/* ######################## ヘッダー ######################## */



/* ######################## フォルダ一覧 ######################## */
#folder > ul {
	font-size: 15px;
	line-height: 25px;
}
/* ######################## フォルダ一覧 ######################## */



/* ######################## リスト ######################## */
ul.video {
	float: left;
	padding-left: 150px;
	display: grid;
	padding: 0;
}
ul.video > li {
	list-style: none;
	margin-bottom: 2em;
	transition: 0.1s;
	border-radius: 20px;
	width: 850px;
}
ul.video > li > div {
	display: flex;
	padding: 3px 3px 6px 3px;
	border-bottom: 1px solid #aaa;
}
.invisible {
	opacity: 0;
	pointer-events: none;
}

.check-area {
}
.check-label:hover {
	background: #e2e2ff;
}
.check-label {
	display: flex;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.check-box {
	height: 18px;
	width: 18px;
	margin: auto 8px auto 8px;
	border: 2.5px solid #ccc;
}
.check-box.check::after {
	content: '';
	display: block;
	width: 88%;
	height: 44%;
	top: 4%;
	left: 18%;
	border-left: 3px solid #888;
	border-bottom: 3px solid #888;
	transform: rotate(-45deg);
}
.video-check {
	display: none;
}

.handle-area {
	margin: auto;
}

.thumbnail-area {
	padding-right: 0.8em;
	margin: auto 0 auto 0;
}
.title-area {
	font-size: 15px;
	font-weight: bold;
	padding: 3px 0 3px 0;
}
.title-area a {
	text-decoration: none;
}
.title-area a:hover{
	text-decoration: underline;
}
.tag-area {
	width: 600px;
	min-height: 53px;
	padding: 2px 0 2px 0;
}
.tag-area li{
	list-style: none;
	display: inline-table;
	padding: 0 5px 0 5px;
	margin: 0 2px 5px 0;
	border: solid 1px #bfbfbf;
	border-radius: 10px;
	white-space: nowrap;
	background: white;
}
.tag-area a {
}
.comment-area {
	border: #C9CFCF solid 2px;
	background: #F9FFFF;
	width: 600px;
	height: 50px;
	padding: 2px 0 0 5px;
}
/* ######################## リスト ######################## */




.sortable-chosen {
	color: #fff;
	background-color: #edb54c;
}

.scroll-btn {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.scroll-btn a {
	background: rgba(0,0,0,0.4);
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-top: 3px;
	cursor: pointer;
	transition: 0.3s;
}
.scroll-btn a:hover {
	background: rgba(0,0,0,0.2);
}
.scroll-btn svg {
	width: 30px;
	height: 30px;
	position: relative;
	top: 11px;
	left: 12px;
	fill: white;
}
.scroll-btn .bottom {
	-webkit-transform: rotate(180deg);
}

#menuButton {
	overflow: hidden;
	display: block;
	position: relative;
	z-index: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
#menuButton span,
#menuButton::before,
#menuButton::after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	width: 22px;
	height: 2px;
	border-radius: 10px;
	margin: auto;
	background: #000;
}
#menuButton span {
	overflow: hidden;
	z-index: 1;
	color: #000;
}
#menuButton::before {
	z-index: 2;
	transform: translate(0, -7px);
	content: "";
}
#menuButton::after {
	z-index: 2;
	transform: translate(0, 7px);
	content: "";
}


#load-layer {
	display: none;
	position: absolute;
	z-index: 50;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 130%;
	background-color: black;
	opacity: 0.20;
}
#loader {
	display: none;
	position: absolute;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	margin: auto;
	z-index: 51;
	width: 30px; /*ローディングアイコンの横サイズ*/
	height: 30px; /*ローディングアイコンの縦サイズ*/
	border-radius: 50%;	/*CSS3で円を書く*/
	border: 8px solid #fff;	/*円に○の白枠をつける*/
	border-right-color: transparent; /*円の右にC状の空きをつける*/
	animation: spin 1s linear infinite; /*1秒毎にくるくる回転するアニメーション*/
}
@keyframes spin {
	0% { transform: rotate(0deg);	 opacity: 0.2; } /*0%の時は20％の透明度*/
	50%	{ transform: rotate(180deg); opacity: 1.0; } /*50%の時は透明度なし*/
	100%	 { transform: rotate(360deg); opacity: 0.2; } /*100%の時に20％の透明度に戻る*/
}