:root {
	--bgcolor: #f7f7f7;
}
* {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
html {
	background: var(--bgcolor);
}
#main > div {
	width: 500px;
	margin-bottom: 30px;
	border-bottom: 1px dashed;
}
p {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0 6px 20px;
	font-size: large;
}
.center {
	width: fit-content;
	margin: 0 auto 0 auto;
}

input[type="text"]{
	font-family: '';
	height: 28px;
	display: inline-block;
	float: right;
	margin-top: 6px;
}

#bookId {
	width: 380px;
}

.toggle {
	display: inline-block;
	margin: 7px 20px 0 0;
	position: relative; 
	width: 80px;
	float: right;
}
.tgl-chk {
	display: none;
}
.tgl-lbl {
	display: block; 
	overflow: hidden; 
	height: 30px; 
	padding: 0;
	margin: 0 auto;
	border: 1px solid #888; 
	border-radius: 10px;
	background-color: #ddd;
	transition: background-color 0.2s;
}
.tgl-lbl:before {
	content: '';
	display: block; 
	width: 35px; 
	margin: 0px;
	background: var(--bgcolor);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0px;
	border: 1px solid #888; 
	border-radius: 10px;
	transition: 0.2s; 
}
.tgl-chk:not(:checked) + .tgl-lbl:after{
	content: 'OFF';
	position: relative;
	left: 45px;
	top: 6px;
	color: #888;
	font-weight: bold;
	transition: 0.2s;
}
.tgl-chk:checked + .tgl-lbl:after{
	content: 'ON';
	position: relative;
	left: 11px;
	top: 6px;
	color: #eee;
	font-weight: bold;
	transition: 0.2s; 
}
.tgl-chk:checked + .tgl-lbl {
	background-color: #28ba43;
}
.tgl-chk:checked + .tgl-lbl,
.tgl-chk:checked + .tgl-lbl:before {
	 border-color: #28ba43;
	left: calc(100% - 37px); 
}


button {
	display: block;
	min-width: 65px;
	height: 30px;
	font-size: larger;
	font-weight: 600;
	color: #53a8ec;
	border: solid 1px #53a8ec;
	border-radius: 4px;
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: 100ms;
}
button:not([disabled]):hover {
	background: #53a8ec;
	color: var(--bgcolor);
}
button[disabled] {
	color: gray!important;
	border: solid 1px gray!important;
	cursor: auto!important;
}
#save {
	color: #ff4040;
	border-color: #ff4040;
}
#save:not([disabled]):hover {
	background: #ff4040;
	color: var(--bgcolor);
}

#load-layer {
	display: none;
	position: fixed;
	z-index: 101;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
#load-layer img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.5);
}